table.form-table th {
    display: none;
}

@media (min-width: 992px){
  .col-md-4 {
      width: 33.3333333333%;
  }
}
@media (min-width: 768px) and (max-width: 992px){
  .col-md-4 {
      width: 40%;
  }
}
@media (min-width: 328px) and (max-width: 768px){
  .col-md-4 {
      width: 65%;
  }
}
/********************************************/

#wordcrypt_options .checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}
#wordcrypt_options .checkbox:not(checked) { position: absolute; opacity: 0;}
#wordcrypt_options .checkbox:not(checked) + label.ios-switch {
  position: relative; 
  padding: 0 0 0 60px;
      display: block;
    height: 30px;
}
#wordcrypt_options .checkbox:not(checked) + label.ios-switch:before {
  content: '';
  position: absolute;
  top: -2px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  border-color: #CDD1DA;
  box-shadow: #CDD1DA 0px 0px 0px 0px inset;
  transition: border 0.4s, box-shadow 0.4s;
  background-color: #424242;
}
#wordcrypt_options .checkbox:not(checked) + label.ios-switch:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  transition: all .2s;
}
#wordcrypt_options .checkbox:checked + label.ios-switch:before {
  box-shadow: #2871ed 0px 0px 0px 16px inset;
  transition: border 0.4s, box-shadow 0.4s, background-color 4.2s;
  background-color: #2871ed;
  border-color: #2871ed;
}
#wordcrypt_options .checkbox:checked + label.ios-switch:after { left: 26px;}


/*********************************************** R A N G E - S L I D E R *********************************/

/*
https://codepen.io/seanstopnik/pen/CeLqA
https://www.bypeople.com/css-range-slider/
$shade-10: #2c3e50 !default;
$shade-1: #d7dcdf !default;
$shade-0: #fff !default;
$teal: #1abc9c !default;
*/

.range-slider {
  margin: 60px 0 0 0%;
}


/**
$range-width: 100% !default;

$range-handle-color: #2c3e50 !default;
$range-handle-color-hover: #1abc9c !default;
$range-handle-size: 20px !default;

$range-track-color: #d7dcdf !default;
$range-track-height: 10px !default;

$range-label-color: #2c3e50 !default;
$range-label-width: 60px !default;
*/
.range-slider {
  width: 100%;
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - 73px);
  height: 8px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;

  /* Range Handle */
  ::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background .15s ease-in-out;

    &:hover {
      background: #1abc9c;
    }
  }

  active::-webkit-slider-thumb {
    background: #1abc9c;
  }

  &::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background .15s ease-in-out;

    &:hover {
      background: #1abc9c;
    }
  }

  &:active::-moz-range-thumb {
    background: #1abc9c;
  }

  &::-ms-fill-lower {
    /*border-radius: $track-h/2;*/
    background: #88b1d7;
  }
  
  &::-ms-fill-upper {
    background: transparent;
  }
}


/* RANGE LABEL */
.range-slider__value {
  display: inline-block;
  position: relative;
  width: 60px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #2c3e50;
  padding: 5px 10px;
  margin-left: 8px;

  &:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #2c3e50;
    border-bottom: 7px solid transparent;
    content: '';
  }
}


/* Firefox Overrides */
::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer { 
  border: 0; 
}


/**************************************************************************************/
@import "compass/css3";

$input-pad: .5em;

$track-w: 20em;
$track-h: .75em;
$track-bg: #e9e9e9;
$track-fill: #88b1d7;

$thumb-bg: #fefefe;

$tooltip-bg: #767676;

@mixin track($lower: true) {
  box-sizing: border-box;
  border: solid 1px #d1d1d1;
  width: $track-w; height: $track-h;
  border-radius: $track-h/2;
  box-shadow: inset 0 .125em .125em #aaa;
  background: $track-bg;
  
  @if($lower) {
    .js & {
      background: $track-bg
        linear-gradient($track-fill, $track-fill) 
        no-repeat 0 50%;
      background-size: 50% 100%;
    }
  }
}

@mixin thumb() {
  box-sizing: border-box;
  border: none;
  border: solid .3125em $thumb-bg;
  border-right-width: .5em;
  border-left-width: .5em;
  width: 2em; height: 1.5em;
  border-radius: .25em;
  box-shadow: 0 .25em .125em #d2d2d2;
  background: $thumb-bg
    linear-gradient(90deg, 
      #cfcfcf 50%, transparent 50%) 
    1px 50% content-box;
  /* wtf is wrong with you, Chrome? */
  background-size: .25em 100%;
}

html {
  height: 100%;
  background: #f3f3f3;
}

[class*='-ms-']:before { opacity: .15; }

input[type='range'] {
  box-sizing: border-box;
  overflow: visible;
  position: absolute;
  -webkit-appearance: none;
  top: 50%; left: 50%;
  padding: $input-pad;
  width: $track-w + 2*$input-pad;
  height: $track-h + 5*$input-pad;
  border-radius: .25em;
  transform: translate(-50%, -50%);
  background: transparent;
  
  /* Firefox & Chrome/ Opera need this, 
     otherwise font-size is smaller */
  font-size: 1em;
  cursor: pointer;

  &::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    @include track();
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: -.5em; /* weird shit, Chrome */
    @include thumb();
    background-size: 55% 55%; /* this too :| */
  }

  &::-moz-range-track {
    z-index: -1; /* fix Firefox WTF */
    @include track();
  }

  &::-moz-range-thumb {
    @include thumb();
    
    /* Firefox-only, it won't work in IE 
       and it's messed up in Chrome */
    cursor: ew-resize;
  }

  &::-ms-track {
    overflow: hidden;
    @include track(false);
    color: transparent;
  }

  &::-ms-thumb {
    @include thumb();
  }

  &::-ms-fill-lower {
    border-radius: $track-h/2;
    background: $track-fill;
  }
  
  &::-ms-fill-upper {
    background: transparent;
  }
  
  /* wish I could style this asshole */
  //&::-ms-tooltip { display: none; }
  
  &:focus {
    outline: none;
    background-color: rgba(silver, .25);
  }
  
  .js & /deep/ #thumb {
    position: relative;
    
    &:before, &:after {
      position: absolute;
      left: 50%;
      background: $tooltip-bg;
    }
    
    &:before {
      margin: -3em -2em;
      width: 4em;
      border-radius: .25em;
      color: #fff;
      font-weight: 600;
      line-height: 2;
      text-align: center;
      content: '50%';
    }
    
    &:after {
      margin: -1.5em -.365em;
      width: .75em; height: .75em;
      transform: rotate(-45deg);
      content: '';
    }
  }
}